doctype html
head
    title
    link(rel='stylesheet' type='text/css' href='/stylesheets/login.css')
form.login
    h1.login-title Login
    input.login-input(type='text' placeholder='Email Adress' autofocus='')
    input.login-input(type='password' placeholder='Password')
    input.login-button(type='submit' value='Login')
