doctype html
head
    title
    link(rel='stylesheet' type='text/css' href='/stylesheets/login.css')
form.login(method='post' action="")
    h1.login-title Login
    |!{hata}
    input.login-input(type='text' placeholder='username' autofocus='' name='username')
    input.login-input(type='password' placeholder='Password' name='password')
    input.login-button(type='submit' value='Login')
