doctype html
head
    title |MyAlbums
    link(rel='stylesheet' type='text/css' href='/stylesheets/myalbums.css')
body
    .ust
        h1 My Albums and Photos -
            a(href='http://localhost:3000/logout')
                img(src='/icons/exit.png')
            |-
    .albums
        |!{albums}

    .photos
        |!{photos}
    img(src='' name='big')
    script function degistir(degis){document.big.src=degis;}
